div#div2
{
-webkit-transform:rotate(270deg);
transform:rotate(270deg);
}
div#top
{
background-color: black;
z-index: 100;
position: fixed;}
.button
{
color: white;
background-color: black;
padding: 3px 16px;
border-radius: 8px;

}
.Home
{
transition-duration: 0.4s;
}
.Home:hover
{
background-color: lightblue;
}
.About
{
transition-duration: 0.4s;
}
.About:hover
{
background-color: lightblue;
}
.Contact
{
transition-duration: 0.4s;
}
.Contact:hover
{
background-color: lightblue;
}
.imgc
{
border-radius: 100%;
}
/*div#sec
{
background-color: yellow;
}*/
